.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2.1rem;
    color: #ff0000;
}

.red {
    color: #ff0000;

}
.navbar{
    animation: shake 3s infinite;

}
@keyframes shake {
    49% {
      margin-left: 0%;
    }
    50% {
      margin-left: 15px;
    }
    53% {
      margin-left: -15px;
    }
    56% {
      margin-left: 15px;
    }
    59% {
      margin-left: -15px;
    }
    60% {
      margin-left: 0%;
    }
  }